<div id="<%= dom_id todo %>">
  <p>
    <strong>Name:</strong>
    <%= todo.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= todo.description %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= todo.completed %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= todo.priority %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= link_to todo.project.name, project_path(todo.project) %>
  </p>
</div>
